[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  VITE_API_ENDPOINT = "https://portfolio-production-ecb3.up.railway.app"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
